extends ../layout

block content
  h1 #{t('home.genreList')}
  if genres.length
    ul
      each genre in genres
        li
          a(href=`/genre/${genre.id}`) #{genre.name}
  else
    p #{t('home.noGenre')}
